/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 août 2016, 15:43:28
    Author     : Clyde
*/

#container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 
}

.item{
    border: 2px solid black;   
    height: 250px;
    margin-bottom: 7%;
    
    
}
.item img{
    
    
}